

<table width="1004" border="0" cellpadding="0" cellspacing="0">
<tr>
<td>
	<table border="1" height="123" width="100%" cellpadding="0" cellspacing="0" background="/assets/twitaware_header.jpg">
	<tr><td width="75%">
	</td>
	</tr>
	</table>
</td>
</tr>
<tr>
<td>

	<table width="1004" border="0" cellspacing="0" cellpadding="0">
	      <tr>
	        <td  class="header-title-text" width="700"></td>
	        <td class="header-title-text" align="right"><span id="date"></span>&nbsp;&nbsp;<span id="time"></span>&nbsp;</td>
	        <td class="header-title-text" width="30"><a href="/users/sign_out" style="text-decoration: none;" class="link">&nbsp;Logout</a></td>

	      </tr>
	    </table>


</td>


</tr>

<tr>
<td align="left">
<table border="0">
<tr>
<td height="500" width="700" valign="top" >


<table border="0" cellpadding="0" height="400"  cellspacing="0" width="600" align="center" >
<tr>
<td valign="top" align="left">


<table border="0" cellpadding="0" height="50"  cellspacing="0" width="300" align="left" >
<tr>
<td height="35" class="text-headline">
Tweet Based on classifications: <a href="/home/tweet_classification?tweet_filter_for=flood">flood</a>&nbsp;&nbsp;<a href="/home/tweet_classification?tweet_filter_for=accident">accident</a>&nbsp;&nbsp;<a href="/home/tweet_classification?tweet_filter_for=wildfires">wildfires</a>

</td>
</tr>





</table>

</td>
<td valign="top">

	

</td>

</tr>


<tr>
	<td colspan="2" valign="top">
		<table border="1" cellpadding="3" height="200"  cellspacing="3" width="100%" align="center" >
		<tr bgcolor="#F0F8FF">
		<td class="text-headline" height="30" valign="top">
		Filtered Stream of Tweets: <strong><span style="color:red;"><%= params[:tweet_filter_for] %>
			</span></strong>
		</td>
		</tr>
<%= tweet_display(@filtered_tweets) %>
	

		</table>
	</td>

</tr>


<tr>
<td colspan="2" height="20">
	&nbsp;
	</td>
	</tr>

</table>






</td>
<td width="304" valign="top" bgcolor="#F0F8FF">
<table border="0" width="300" align="center" cellpadding="2" bordercolor="#5eb8ff" cellspacing="2" height="400">
<tr>
<td height="150" valign="top" >
<table border="0" bgcolor="" width="200" align="center">

<tr>
<td colspan="3">

&nbsp;
</td>
</tr>
<tr>
<td width="50">
&nbsp;
</td>
<td>
<img src="/assets/default-human.jpg" width="100" height="100" />
</td>
<td  width="50">
&nbsp;
</td>

</tr>
<tr>
<td colspan="3" align="center" class="body-text">
Logged in as <%= current_user.email %>

</td>
</tr>

</table>
</td>
</tr>
<tr>
<td height="150" valign="top" >
<table border="0" bgcolor="" width="200" align="center">

<tr>
<td>
&nbsp;
</td>
<td align="center" height="60" class="marque-headline">
Hot Links
</td>
<td>
&nbsp;
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td  height="35">
<a href="/home/index?search_tag=wildfires">Tweets Cloud</a>
</td>
<td>
&nbsp;
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td  height="35">
<a href="/home/tweet_classification">Tweet Classification</a>
</td>
<td>
&nbsp;
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td height="35">
<a href="/home/tweet_based_on_regions" >Tweets based on Regions</a>
</td>
<td>
&nbsp;
</td>
</tr>

</table>
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
</tr>
</table>
</td>
</tr>
</table>

</td>


</tr>

<tr>
    	<td class="hd-br">
    		
			<table border="0" width="100%" cellpadding="0" cellspacing="0">
			<tr>
			<td style="color:#FFFFFF; text-decoration:none" align="center">
			&copy; 2014 All Rights Reserved
			</td>
			</tr>
			</table>
    	</td>
  	</tr>
</table>





