
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
div
	{	
		color:red;
			}
-->
</style>
<!-- <link href="styles/styles.css" rel="stylesheet" type="text/css" /> -->

<script type="text/javascript">
function checkLogin(){

 	var txtuser=document.getElementById("userId").value;
 	
 	if(txtuser=="") {
 		alert("Username cannot be blank");
 		
 	return false;
 }
	 var txtpass=document.getElementById("password").value;
 	if(txtpass=="") {
 		alert("Password cannot be blank");
 		
 		return false;
 	}
 	

	if(txtuser!="" && txtpass!=""){
		document.frmLogin.action="loginAction.do";

	}
 }

	 </script>

</head>


<%= form_tag("/login/validate_user", {:method => :post, :id => 'application_assignment'}) do %>
<!-- <form action="loginAction.do" method="post" name="frmLogin" id="frmLogin"  onsubmit="return checkLogin();" > -->
<table width="1010" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top" ><img src="/assets/twitaware_header.jpg" width="1010" height="123" /></td>
  </tr>
  <tr>
    <td height="2"></td>
  </tr>
  <tr>
    <td class="hd-br">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td width="350" valign="top"><img src="/assets/soc.png" alt="Virtual society" width="333" height="429"></img></td>
        <td align="right" valign="top">
        
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        
        <td height="40" valign="top" class="marque-headline" ><H1><marquee> <b>"AN EXCLUSIVE SOCIAL MEDIA TOOL TO CREATE SOCIAL AWARENESS"</b></marquee></H1></td>
     
      </tr>
       <tr>
        <td valign="top">
        <table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td><img src="/assets/login_top_lt.png" width="9" height="29" /></td>
            <td width="285" class="login-top-bg">Login</td>
            <td align="left"><img src="/assets/login_top_rt.png" width="9" height="29" /></td>
          </tr>
          <tr>
            <td class="login-lt-br"> </td>
            <td class="login-bg"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="39%" height="15"></td>
                  <td width="61%" height="15"></td>
                </tr>
                <tr>
                  <td class="login-cont">Email Id</td>
                  <td><!--  <form id="form1" name="form1" method="post" action="">-->
                      <label>
                      <input  type="text" name="emailId" class="login-txt-bx" id="emailId" />
                     
                      </label>
                  <!--  </form>--></td>
                </tr>
                <tr>
                  <td height="10"></td>
                  <td height="10"></td>
                </tr>
                <tr>
                  <td class="login-cont">Password</td>
                  <td><!--  <form id="form2" name="form2" method="post" action="">-->
                      <label>
                      <input  type="password" name="password" class="login-txt-bx" id="password" />
                     
                      </label>
                  <!--  </form>--></td>
                </tr>
                <tr>
                  <td height="11"></td>
                  <td height="11"></td>
                </tr>
				<tr>
				<td colspan="2"><span class="return-error-message-text"><html:errors /></span></td>
				</tr>
                <tr>
                  <td height="7"></td>                                   
                  <td height="7"><input name="Submit" type="submit" class="login-but" value="Submit" />
                  &nbsp;&nbsp;<!-- <a href="signup.jsp">Sign Up </a> --></td>
                </tr>
            </table></td>
            <td class="login-rt-br"> </td>
          </tr>
          <tr>
            <td width="9" align="left" valign="top"><img src="/assets/login_bot_lt.png" width="9" height="9" /></td>
            <td class="login-bot"></td>
            <td width="10" align="right" valign="top"><img src="/assets/login_bot_rt.png" width="9" height="9" /></td>
          </tr>
        </table>
        
        </td>
        
        
      </tr>
      <tr>
      <td height="10">
     &nbsp;
      </td>
      </tr>
       <tr>
        <td >
        
        	<table border="0" cellpadding="0" cellspacing="0">
        	
        	<tr>
        	    <td valign="top">
        	    
        	    
        	    <table border="0" cellpadding="0" cellspacing="0" width="250">
        	
        	<tr>
        	    <td valign="top" class="text-headline">
        	  <b>Features:</b>
        	   </td>
        	   </tr>
        	   
        	   <tr >
        	    <td valign="top" class="landing-page-text">
        	 <li>Listing social awareness to the people across the world</li>
        	   </td>
        	   </tr>
        	   
        	   <tr>
        	    <td valign="top" class="landing-page-text">
        	  <li>Customized key word search on social issues</li>
        	   </td>
        	   </tr>
        	   
        	   <tr>
        	    <td valign="top" class="landing-page-text">
        	  <li>Regional based tweets</li>
        	   </td>
        	   </tr>
        	   <tr>
        	    <td valign="top" class="landing-page-text">
        	  <li>Classified tweets to remove the unwanted one</li>
        	   </td>
        	   </tr>
        	   </table>
        	   
        	    </td>
        		<td align="left" >
        		  <table border="0" cellpadding="0" cellspacing="0" width="250">
        	<tr>
        	<td class="text-headline">
        		<b>View Demo:</b>
        		</td>
        	</tr>
        	
        	<tr>
        	    <td valign="top">
        		
        		
  
        		<iframe width="360" height="215" src="http://www.youtube.com/embed/bveXo-BZrJQ" frameborder="0" ></iframe>
        		</td>
        		</tr>
        		</table>
        		</td>
        		<td>
        		
        		</td>
        	</tr> 
        	
        	<tr>
        	    
        		<td colspan="3" >
        		<table width="330" align="left">
        		<tr>
        		
        		<td class="text-headline">Connect with us: </td>
      		<td><img src="/assets/facebook_logo.jpg" width="30" height="30" /></td>
        		
        		<td><img src="/assets/twitter_logo.jpg" width="30" height="30" /></td>
        		
        		<td><img src="/assets/linkedin_logo.png" width="30" height="30" /></td>
        		<td width="100">
        		&nbsp;
        		</td>
        		
        	</tr></table>
        		
        	</td>
        	
        	</tr> 
        	 	
        	</table>
        
        
        </td>
      </tr>
     
    </table>
        
        
        </td>
        
      </tr>
     
    </table></td>
  </tr>

  <tr>
    <td>&nbsp;</td>
  </tr>
  	<tr>
    	<td class="hd-br">
			<table border="0" width="100%" cellpadding="0" cellspacing="0">
			<tr>
			<td style="color:#FFFFFF; text-decoration:none" align="center">
			&copy; 2014 All Rights Reserved
			</td>
			</tr>
			</table>
	
	</td>
  	</tr>
</table>
<% end %>
